<nav class="navbar navbar-default nav-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/">Home</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/saved_articles" id="saved_articles_btn">Saved Articles</a></li>
            <li><a style="cursor: pointer" id="scrape_btn">Scrape</a></li>
        </ul>
    </div>
</nav>